:root {
  /* Information */
  --primitive-color-information-50: #eff6ff;
  --primitive-color-information-100: #dbeafe;
  --primitive-color-information-200: #bfdbfe;
  --primitive-color-information-500: #3b82f6;
  --primitive-color-information-600: #2563eb;
  --primitive-color-information-700: #1d4ed8;
  --primitive-color-information-800: #1e40af;

  /* Success */
  --primitive-color-success-50: #f0fdf4;
  --primitive-color-success-100: #dcfce7;
  --primitive-color-success-200: #bbf7d0;
  --primitive-color-success-500: #22c55e;
  --primitive-color-success-600: #16a34a;
  --primitive-color-success-700: #15803d;
  --primitive-color-success-800: #166534;

  /* Warning */
  --primitive-color-warning-50: #fffbeb;
  --primitive-color-warning-100: #fef3c7;
  --primitive-color-warning-200: #fde68a;
  --primitive-color-warning-500: #f59e0b;
  --primitive-color-warning-600: #d97706;
  --primitive-color-warning-700: #b45309;
  --primitive-color-warning-800: #92400e;

  /* Danger */
  --primitive-color-danger-50: #fef2f2;
  --primitive-color-danger-100: #fee2e2;
  --primitive-color-danger-200: #fecaca;
  --primitive-color-danger-500: #ef4444;
  --primitive-color-danger-600: #dc2626;
  --primitive-color-danger-700: #b91c1c;
  --primitive-color-danger-800: #991b1b;
}
