:root {
  --primitive-space-0: 0;
  --primitive-space-0-5: 0.125rem;
  --primitive-space-1: 0.25rem;
  --primitive-space-1-5: 0.375rem;
  --primitive-space-2: 0.5rem;
  --primitive-space-2-5: 0.625rem;
  --primitive-space-3: 0.75rem;
  --primitive-space-4: 1rem;
  --primitive-space-5: 1.25rem;
  --primitive-space-6: 1.5rem;
  --primitive-space-8: 2rem;
  --primitive-space-10: 2.5rem;
  --primitive-space-12: 3rem;
  --primitive-space-16: 4rem;
  --primitive-space-20: 5rem;
  --primitive-space-24: 6rem;
  --primitive-space-32: 8rem;
}
